.top_container{position:}



.middle_container{position:relative;
display: block;
text-align: center;
margin-top: 47px;
height: 351px;
width: auto;
border: 2px solid blue}

#logo{padding-top: 107px;}

.search_form{position:relative;
padding-top:24px;}
.search{display: inline-block;
    text-align: center;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    height: 44px;
    width: 482px;
padding: 1px 0px;
text-indent: 30px;
}
.fa-search{position: absolute;
    margin-left: 20px;
    margin-top: 16px;
    display:inside;}






.bottom_container{position:}


 
 