body{margin: 0px;
padding: 0px;
font-family: arial,sans-serif;
}


.top_container{top:17px;
    display:block;
    position:relative;
font-size:13px;
height: 70px;}
#as{display:block;
position:absolute;
margin: 7px 0 0 10px;
height: 15px;}
#as a{display: inline-block;
    padding-left: 15px;
    color: #000;
    opacity: 0.75;
    text-decoration: none;}
    
    .gis{display:inline-flex;
        position: relative;
        align-items: center;
        text-align: right;
        justify-content: flex-end;
        z-index: 987;
        float:right;
        padding-left: 30px;
        padding-right: 30px;
        margin-left: 0!important;
        margin-right: 0!important;
        margin-top: -1px;
        
        
        
        }
        .gi{display: inline-block;
            
            line-height: normal;}
            .g:first-child{padding-left: 0;}
            .g{
                line-height: 24px;
                cursor: pointer;
            text-decoration: none;
            color: rgba(0,0,0,0.87);}
        
            .i{padding-left: 15px;
            padding-right: 15px;}
             #images{line-height: 24px;
                cursor: pointer;
                 color: rgba(0,0,0,0.87);
                text-decoration: none;
            }
        
        .iconsign{
            line-height: normal;
            position: relative;
            text-align: left;
            margin-left: 0!important;
            margin-right: 0!important;
            
            display: inline-flex;
            
            }
            .icon:first-child{padding-left: 0;} 
            .icon{
                padding: 0 0 0 15px;
                vertical-align: middle;}
                .icon1{position: relative;
                display: block;}
                #iconprop{background-position: -132px -38px;
                    opacity: .55;
                    background-image: url(/home/theprogrammer/the_odin_project/google-homepage/i1_1967ca6a.png);
                    background-size: 528px 68px;
                    display: inline-block;
                    vertical-align: middle;
                    border-radius: 2px;
                    box-sizing: border-box;
                    height: 30px;
                    width: 30px;}

            .sign{display: inline-block;
                padding: 0 0 0 15px;
                position: relative;
                vertical-align: middle;
                }
                .sign1{position: relative;
                display:block}
                #signprop{border: 1px solid #4285f4;
                    font-weight: bold;
                    outline: none;
                    background:-webkit-linear-gradient(top,#4387fd,#4683ea);
                    display: inline-block;
                    line-height: 28px;
                    padding: 0 12px;
                    border-radius: 2px;
                text-decoration: none;
                color: #fff;
                }
                

   



.middle_container{position:relative;
display: block;
text-align: center;
margin-top: -21px;
height: 351px;
width: auto;
}

#logo{padding-top: 107px;}

.search_form{position:relative;
padding-top:24px;}
.search{display: inline-block;
    text-align: start;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    height: 42px;
    width: 582px;
padding: 1px 0px;
text-indent: 46px;
font: 16px arial,sans-serif;
background: #fff;
outline: none;

}
input{-webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark-color(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-shadow: none;
    cursor:text;
    
    }

    .search:hover{height: 42px;
        width: 582px;
        box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
        border-color: rgba(223,225,229,0);}
#WTF{color: #9AA0A6;
    height: 20px;
    width: 20px;
    margin-top: 3px;
    display: inline-block;
    fill: currentColor;
    line-height: 24px;
    position: absolute;
margin-left: 15px;
margin-top:13px;
padding-right: 10px;}
#iconw{
    

 }




#iconw{background: url(https://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png) 0 0 no-repeat;
 
}

    .submmit_input{margin-top: 19px;
        margin-right: 12px;
        display: block;
    text-align: center;
    font-size: small;}

    .S1{background-color: #f2f2f2;
        border: 1px solid #f2f2f2;
        border-radius: 4px;
        color: #5F6368;
        font-family: arial,sans-serif;
        font-size: 14px;
        line-height: 27px;
        height: 36px;
        padding: 0 16px;
        cursor: pointer;
        margin: 11px 4px;
        user-select: none;}
        .S2{background-color: #f2f2f2;
            border: 1px solid #f2f2f2;
            border-radius: 4px;
            color: #5F6368;
            font-family: arial,sans-serif;
            font-size: 14px;
            line-height: 27px;
            height: 36px;
            padding: 0 16px;
            cursor: pointer;
            margin: 11px 4px;
            margin-right: 5px;
            user-select: none;}





#bottom_container{bottom: 0; 
    font-size: 10pt;
    height: 35px;
    position: fixed;
    width: 100%;
    display: block;}                       

    .position_prop{ bottom: 0;
                    left: 0;
                    position: absolute;
                    right: 0;
                    text-align: left;
                display: inline-block;
                    }
                    #internal_prop{background: #f2f2f2;
                        line-height: 40px;
                        min-width: 980px;
                        border-top: 1px solid #e4e4e4;
                        
                   }
                        .fbar{font-size: 14px;
                            margin-left: -27px;
                        }
                            #left_nav{margin-left: 30px;
                                white-space: nowrap;}
                            #right_nav{margin-left: 30px;
                                float: right;
                                white-space: nowrap;} 
                                #n_prop1{padding-left: 27px;
                                    margin: 0 !important;
                                    text-decoration: none;
                                    color: #5f6368;
                                    width: 69.2656px;
                                }   
                                #n_prop2{padding-left: 23px;
                                    margin: 0 !important;
                                    text-decoration: none;
                                    color: #5f6368;
                                width: 56.8125px;}
                                #n_prop3{padding-left: 23px;
                                        margin: 0 !important;
                                        text-decoration: none;
                                        color: #5f6368;
                                    width: 116.703px;}

                                #n_prop4{
                                    margin: 23.5px !important;
                                    text-decoration: none;
                                    color: #5f6368;
                                    width: 45.9062px 40px;
                                }
                                 #n_prop5{
                                    margin-right: -7px !important;
                                    text-decoration: none;
                                    color: #5f6368;
                                width: 38.125px;}  
                                
                                #n_prop6{
                                    margin: 30px !important;
                                    margin-right: 10px;
                                    text-decoration: none;
                                    color: #5f6368;
                                width: 50.5938px;}


    
    
    
                                          

 
 