body{margin: 0px;
padding: 0px;}

.top_container{position:}



.middle_container{position:relative;
display: block;
text-align: center;
margin-top: 49px;
height: 351px;
width: auto;
}

#logo{padding-top: 107px;}

.search_form{position:relative;
padding-top:24px;}
.search{display: inline-block;
    text-align: center;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    height: 42px;
    width: 582px;
padding: 1px 0px;
text-indent: 30px;
background: #fff}
.fa-search{position: absolute;
    margin-left: 20px;
    margin-top: 16px;
    display:inside;}

    .submmit_input{margin-top: 19px;
        margin-right: 12px;
        display: block;
    text-align: center;
    font-size: small;}

    .S1{background-color: #f2f2f2;
        border: 1px solid #f2f2f2;
        border-radius: 4px;
        color: #5F6368;
        font-family: arial,sans-serif;
        font-size: 14px;
        line-height: 27px;
        height: 36px;
        padding: 0 16px;
        cursor: pointer;
        margin: 11px 4px;
        user-select: none;}
        .S2{background-color: #f2f2f2;
            border: 1px solid #f2f2f2;
            border-radius: 4px;
            color: #5F6368;
            font-family: arial,sans-serif;
            font-size: 14px;
            line-height: 27px;
            height: 36px;
            padding: 0 16px;
            cursor: pointer;
            margin: 11px 4px;
            margin-right: 5px;
            user-select: none;}





.bottom_container{display: block;
    background: #f2f2f2;
    line-height: 40px;
    border-top: 1px solid #e4e4e4;
    margin-top:60px;}
    
    
    .nav_bottom_menuU{font-size: 13px;
                     margin-left: -27px;
                    }

                #upper_bar:{border-bottom: 1px solid #e4e4e4e0;
                }
                    #country_display{margin-left: 30px;
                                    text-align: left;
                                    color: rgba(0,0,0,.54);
                                    padding-left: 27px;} 
                                    #country{font-size: 15px;
                                        text-align: left;
                                        color: rgba(0,0,0,.54);
                                        font-family: arial,sans-serif;}  
    

    .nav_bottom_menuD{bottom: 0;
        font-size: 10pt;
        height: 35px;
        position: fixed;
        width: 100%;
        display: inline-block;}
        #abah{} 
                                          

 
 